.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.App-title {
  font-size: 1.5em;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.taskList{
  margin-left: auto;
  margin-right: auto;
  border: 2px double pink;
  padding: 1em;
  font-family: sans-serif;
  background-color: rgba(184, 105, 157, 0.643);
  width: 400px;
  
}
li{
  text-align: left;
  background-color: pink;
  border-style: double;
  margin-bottom: .25em;
  padding: .5em;
  color:purple;
  border: 2px solid purple;
  border-radius: 5px;
  display: flex;
  align-items: center;


}
.text{
  flex: 1;
}

h1, h2{
  color:white;
}

.form{
  color: white;
  padding-bottom: 2em;
}

button{
  cursor: pointer;
  transition: background-color .5s ease;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 5px;
  border: none;

}
.delete-button{
  font-weight: bold;
  background-color: rgb(180, 64, 180);
  color: white;
  
}
.delete-button:hover{
  background-color: purple;

}
.complete-button{
  font-weight: bold;
  background-color: rgb(251, 167, 181);
  color: purple;
  
}
.complete-button:hover{
  background-color: rgb(235, 114, 134);

}
input[type="text"]{
  font-size: 1em;
  padding: 10px;
  border: 2px dashed purple;
  border-radius: 5px;
  color:purple;


}